# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# FastAPI / Uvicorn
*.log

# Editor directories and files
.vscode/
.idea/
*.swp
*

# System files
.DS_Store
Thumbs.db
